@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;0,800;1,500;1,600&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Mulish', sans-serif;
}

body::-webkit-scrollbar{
   display: none;
}

.body{
   max-width: 100%;
}

.container{
    padding: 0 2rem;
}

/* first page */

.intro-page{
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 1rem;
   overflow: hidden;
}

.intro-text{
   flex: 3;
   z-index: 1;
}

.intro-text p{
   font-size: 80vh;
   line-height: 100vh;
  
}

.intro-text span{
   color: #febd0e;
}

.intro-image{
   flex: 1;
}

/* second page */

.intro-page2{
   height: 100vh;
   width: 100%;
   background-color: #febd0e;
   overflow: scroll;
   padding: 0 2rem;
   text-align: center;
   line-height: 100vh;
   z-index: 2;
}

.intro-page2::-webkit-scrollbar{
   display: none;
}

.intro-page2 p{
   text-align: center;
   font-size: 30vh;
}

.intro-page2 span{
   color: #fff;
}


/* third page */
.intro-page3{
   height: 100vh;
   width: 100%;
   overflow: hidden;
}
.intro-page4 p:nth-child(1){
   font-size: 5vh;
}
.intro-page4 p:nth-child(2){
   font-size: 30vh;
}

.intro-page4 p:nth-child(3){
   font-size: 10vh;
}

/* intro page 4 */
.intro-page4{
   height: 100vh;
   width: 100%;
   background-color: #febd0e;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

/* climax */
.climax-start{
   height: 1500vh;
   width: 100%;
   background: linear-gradient(0deg, rgba(7,8,8,1) 25%, rgba(253,187,45,1) 100%);
}

.climax-end{
   height: 400vh;
   width: 100%;
   background-color: rgb(0, 0, 0);
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   line-height: 80vh;
}

.climax-end-text{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0 2rem;
}


.climax-end-text1 p:nth-child(1){
   font-size: 35vh;
}
.climax-end-text1 p:nth-child(2){
   font-size: 20vh;
}
.climax-end-text1 p:nth-child(3){
   font-size: 30vh;
}
.climax-end-text2 p:nth-child(1){
   font-size: 20vh;
}
.climax-end-text2 p:nth-child(2){
   font-size: 20vh;
   color: #febd0e;
}


